* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #333333;
    --background-color: #FFFFFF;
    --sub-text-color: #666666;
    --button-background-color: #333333;
    --button-hover-color: #555555;
}

body, html {
    font-family: 'Inter', sans-serif;
    background: #FAFAFA;
    
    color: #333333;
    margin-top: 15px;    
    margin-right: 60px;  
    margin-bottom: 30px; 
    margin-left: 60px;  
}

.site-footer {
    background-color: #ffffff;
    color: #ffffff;
    text-align: center;
    padding-top: 20px; 
    padding-bottom: 20px; 
    border-top: 3px solid #ffffff; 
    font-size: 16px;
    width: 100vw; 
    box-sizing: border-box; 
    position: relative; 
    left: 50%; 
    right: 50%; 
    margin-left: -50vw; 
    margin-right: -50vw; 
  }

.spaced-section {
    margin-top: 150px; 
    margin-bottom: 150px; 
  }










  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}


.logo {
    font-size: 28px;
    font-weight: 500;
  }
  
  .logo-image {
    height: 50px; 
    width: auto; 
    margin-right: 0px;
  }

#nav-links {
    display: flex;
    gap: 20px;
}

.nav-link, .nav-button {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    padding: 10px 15px;
}

.nav-button {
    border: 2px solid #333333;
    border-radius: 8px;
}







header {
    padding: 60px;
    text-align: left;
}

h1 {
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 500
}

p {
    font-size: 18px;
    color: #666666;
    margin-bottom: 60px;
   
}

.header-buttons {
    display: flex;
    gap: 20px;
}

.button {
    text-decoration: none;
    color: #ffffff;
    background-color: #292929;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 16px;
}

.button:hover {
    background-color: #555555;
}



.problems-section {
    text-align: center;
    padding: 40px;
    background-color: #FAFAFA; 
}

.section-title {
    margin-bottom: 30px;
    color: #333;
    font-size: 24px; 
    font-weight: 500
}

.problems {
    display: flex;
    justify-content: center;
    gap: 30px; 
    margin-top: 1px;
}

.problem-item {
    width: 400px; 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #666666;
    border: 1px solid ; 
    text-align: left;
    margin: 0 15px;
    height: 190px;
}

.problem-item:hover {
    border: 1px solid red; /* Changes the border to red on hover */
}


.icon-container {
    margin-bottom: 10px; 
    display: flex;
    justify-content: center;
}

.icon-container img {
    width: 24px; 
    height: 24px; 
    margin-bottom: 20px;
}

.problem-item p {
    color: #666;
    font-size: 18px;
}








.solutions-section {
    text-align: center;
    padding: 40px;
    background-color: #FAFAFA; 
}

.section-title {
    margin-bottom: 30px;
    color: #333;
    font-size: 24px; 
    font-weight: 500
}

.solutions {
    display: flex;
    justify-content: center;
    gap: 30px; 
    margin-top: 1px;
}

.solution-item {
    width: 400px; 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #666666;
    border: 1px solid ; 
    text-align: left;
    margin: 0 15px;
    height: 190px;
}

.solution-item:hover {
    border: 1px solid rgb(73, 194, 75);
}


.icon-container {
    margin-bottom: 10px; 
    display: flex;
    justify-content: center;
}

.icon-container img {
    width: 35px; 
    height: 35px; 
    margin-bottom: 20px;
}

.solution-item p {
    color: #666;
    font-size: 18px;
}










.development-packages {
    text-align: center;
    padding: 60px; 
    background-color: #FAFAFA;
}

.development-packages h2 {
    font-size: 24px; 
    color: var(--text-color);
    margin-bottom: 30px; 
    font-weight: 500
}

.package-card {
    display: inline-block; 
    width: 500px; 
    height: 300px; 
    border: 1px solid #000000; 
    border-radius: 8px; 
    margin: 0 18px; 
    margin-bottom: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #FFFFFF; 
    
}










.faq-section {
    background-color: #FAFAFA; 
    padding: 40px; 
  }
  
  .faq-title {
    text-align: center;
    font-size: 32px; 
    margin-bottom: 40px; 
    font-weight: 500
  }
  
  
  .faq-icon {
    width: 50px; 
    height: auto;
    margin-bottom: 20px; 
  }
  
  .faq-item h3 {
    font-size: 24px; 
    margin-bottom: 10px;
    font-weight: 500
  }
  
  .faq-item p {
    font-size: 16px;
    color: #666; 
    
  }

  






.site-footer {
    background-color: #ffffff; 
    color: #707070; 
    text-align: center; 
    padding: 20px 0;
    border-top: 3px solid #e7e7e7; 
    font-size: 16px; 
    margin-top: 200px;
  }
  
  .container {
    width: 80%; 
    max-width: 1200px; 
    margin: 0 auto;
  }
  
  .site-footer p {
    margin: 0; 
  }
  

  .footer-email {
    color: #707070;
    text-decoration: none; 
  }
  
  .footer-email:hover {
    text-decoration: underline; 
  }