.site-footer {
    text-align: center;
    border-top: 3px solid #ffffff;
    font-size: 16px;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    background-color: #ffffff;
    color: #707070;
    padding: 20px 0;
    border-top: 3px solid #e7e7e7;
    margin-top: 200px;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.site-footer p {
    margin: 0;
}


.footer-email {
    color: #707070;
    text-decoration: none;
}

.footer-email:hover {
    text-decoration: underline;
}