@import url('https://fonts.cdnfonts.com/css/pp-neue-montreal?styles=158867,158868,158871,158869,158870,158866');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root {
  --neue: 'PP Neue Monteral', sans-serif;
  --manrope:'Manrope', sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--neue);
  font-style: normal;
  line-height: 160%;
}

:root {
  --text-color: #333333;
  --background-color: #FFFFFF;
  --sub-text-color: #666666;
  --button-background-color: #333333;
  --button-hover-color: #555555;
}

body, html {
  background: #FAFAFA;
  color: #333333;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

h1 {
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: 500
}

p {
  font-size: 18px;
  color: #666666;
}

.button {
  text-decoration: none;
  color: #ffffff;
  background-color: #292929;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 16px;
}

.button:hover {
  background-color: #555555;
}
