nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 30px 120px;
}

.nav-logo {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    align-items: center;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    text-decoration: none;
    color: #333333;
}

.logo {
    font-size: 20px;
    font-weight: 500;
}

.logo-image {
    height: 50px;
    width: auto;
    margin-right: 0;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-link, .nav-button {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.nav-button {
    border: 2px solid #333333;
    border-radius: 8px;
}
@media screen and (max-width: 992px) {
    nav{
        padding: 15px 60px;
    }
}
@media screen and (max-width: 768px) {
    nav{
        padding: 15px 30px;
    }
}
@media screen and (max-width: 567px) {
    .nav-button{
        display: none;
    }
    .nav-links div{
        display: none;
    }
}
